/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {

font-family: 'Roboto', sans-serif;

}

.opinion_all {
  margin: 10px 20px;
  padding: 10px;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
#title {
  color: #757575;

  border-width: 3px;
  border-color: #BDBDBD;
  border-bottom-style: solid;
  padding: 30px;
}

#title2 {
  color: #757575;

  border-width: 3px;
  border-color: #BDBDBD;
  border-bottom-style: solid;
  padding: 30px;
}

.new_item {
  margin: 10px 20px;
  padding: 20px;
  color: #673AB7;
}

.all_films {
  margin: 10px 20px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

#films_list {
  margin: 10px 20px;
  padding: 10px;
  background-color: #9575CD;
  box-shadow: 3px 3px 4px grey;
}

.showfilm {
  display: inline;
}

.inserts {
  color: white;
}
/*a:link {
    color: #9575CD;
  }
a:visited {
    color: #FFFFFF;
  }
a:hover {
    color: #512DA8;
  }
a:active {
    color: #333333;
  }*/
